.btn {
  width: 100px;
  height: 20px;
}
.post {
  display: flex;
  flex-direction: column;
}
.post_card {
  width: 200px;
  height: auto;
  background-color: royalblue;
}
.btn_comm {
  width: 80px;
  height: 40px;
}
.comments_post {
  display: flex;
  flex-direction: column;
}
.comments_card {
  width: 200px;
  height: auto;
  background-color: palegreen;
}
